<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBSKZwe7b3gmnvSvmtgZP8R4oYkgyjGhzw</string>
	<key>GCM_SENDER_ID</key>
	<string>171269563274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yui.clinclon</string>
	<key>PROJECT_ID</key>
	<string>clinclon-ef42e</string>
	<key>STORAGE_BUCKET</key>
	<string>clinclon-ef42e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171269563274:ios:0f213e8279454609e01e73</string>
</dict>
</plist>